
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= f.label :question_text %><br>
    <%= f.text_field :question_text, class: "form-control" %>
  </div>
</div>

<% if params[:action] == 'edit' %>
  <div class="form-group">
     <div class="field">
      <%= f.label :Game_Number %><br>
      <%= f.number_field :category_id, class: "form-control" %>
    </div>
  </div>
<% else %> 
    <div class="form-group">
     <div class="field">
      <%= f.label :Game_Number %><br>
      <%= f.number_field :category_id, :value => params[:id].to_i, class: "form-control" %>
    </div>
  </div>

<% end %> 

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Input Answer Options</th>
        <th style="text-align: center">Select True</th>
      </th>
    </thead>
  <tbody>

    <% unless @question.new_record? %>
     <% @question.answers.each_with_index do |ans,i| %>
      <%= f.fields_for :answers, ans do |answer| %>
        <tr>
          <td>
            <%= answer.label "answer_#{i+1}" %><br>
            <%= answer.text_field :answer_text, class: "form-control" %>
          </td>
          <td style="text-align: center;">
            <%= answer.check_box :correct_answer %>
          </td>
        </tr>
      <% end %>
    <% end %>
   <% else %>
 
  <%= f.fields_for :answers, Answer.new do |answer| %>
    <tr>
      <td>
        <%= answer.label :answer_1 %>
        <%= answer.text_field :answer_text, class: "form-control" %>
      </td>
        <td style="text-align: center;">
        <%= answer.check_box :correct_answer %>
       </td>
    <% end %>
    </tr>

  <%= f.fields_for :answers,Answer.new do |answer| %>
    <tr>
      <td>
         <%= answer.label :answer_2 %><br>
          <%= answer.text_field :answer_text, class: "form-control" %>
      </td>
      <td style="text-align: center;">
          <%= answer.check_box :correct_answer, id: "check" %>
       </td>
    </tr>
  <% end %>

  <%= f.fields_for :answers,Answer.new do |answer| %>
    <tr>
      <td>
          <%= answer.label :answer_3 %><br>
          <%= answer.text_field :answer_text, class: "form-control" %>
       </td>
       <td style="text-align: center;">
          <%= answer.check_box :correct_answer %>
      </td>
    </tr>
  <% end %>

  <%= f.fields_for :answers,Answer.new do |answer| %>
    <tr>
      <td>
        <%= answer.label :answer_4 %><br>
        <%= answer.text_field :answer_text, class: "form-control" %>
      </td>
        <td style="text-align: center">
          <%= answer.check_box :correct_answer %>
       </td>
       </tr>
  <% end %>
 <% end %>

 </tbody>
       </table>

 <br>

  <div class="actions">
 <%= f.submit @question.new_record? ? "Add" : "Update", class: "btn btn-primary btn-lg submitquestion" %>
 </div>
<% end %>

