<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= f.label :question_text %><br>
    <%= f.text_field :question_text, class: "form-control" %>
  </div>
</div>

<div class="form-group">
   <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id, class: "form-control" %>
  </div>
</div>

   <h2>Answer Options</h2>
      <%= f.fields_for :answers do |answer| %>
          <div class="form-group">
            <div class="answers">
            <div class="field">
             <%= answer.label :answer_1 %><br>
              <%= answer.text_field :answer_text, class: "form-control" %>
            </div>
            </div>
          </div>
        <% end %>
       <%= f.fields_for :answers do |answer| %>
          <div class="form-group">
            <div class="answers">
            <div class="field">
             <%= answer.label :answer_2 %><br>
              <%= answer.text_field :answer_text, class: "form-control" %>
            </div>
            </div>
          </div>
      <% end %>
          <%= f.fields_for :answers do |answer| %>
          <div class="form-group">
            <div class="answers">
            <div class="field">
             <%= answer.label :answer_3 %><br>
              <%= answer.text_field :answer_text, class: "form-control" %>
            </div>
            </div>
          </div>
      <% end %>
          <%= f.fields_for :answers do |answer| %>
          <div class="form-group">
            <div class="answers">
            <div class="field">
             <%= answer.label :answer_4 %><br>
              <%= answer.text_field :answer_text, class: "form-control" %>
            </div>
            </div>
          </div>
      <% end %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-lg submitquestion" %>
  </div>
<% end %>

