<div class="container">
  <h1>Quiz Table</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Rel. Category_ID</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @quizzes.each do |quiz| %>
        <tr>
          <td><%= quiz.id %></td>
          <td><%= quiz.name %></td>
          <td><%= quiz.category_id %></td>
          <td><%= link_to 'Show', quiz %></td>
          <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
          <td><%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Quiz', new_quiz_path, class: "btn btn-primary btn-lg submitquestion" %>

  <h3>How To: Quizzes</h3>
  <p>These are the instructions. A quiz becomes part of the larger Game picture. It must include the relevant Category_ID.</p>
</div>
