<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @quiz.topic %>
</p>

<p>
  <strong>Category:</strong>
  <%= @quiz.category %>
</p>

<p>


<p>
  <strong>Game start:</strong>
  <%= @quiz.game_start %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @quiz.entry %>
</p>

<p>
  <strong>Purse:</strong>
  <%= @quiz.purse %>
</p>

<p>
  <strong>First:</strong>
  <%= @quiz.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @quiz.second %>
</p>

<p>
  <strong>Third:</strong>
  <%= @quiz.third %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @quiz.fourth %>
</p>

<strong>Max:</strong>
  <%= @quiz.max %>
</p>
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>

</div>
