<div class="container">
  <%= content_tag 'h1', @game.name + ' scoreboard', id: "triviah1" %> 

   <div class="row">
             <div class="col-lg-12 text-center">
                <hr class="star-game">
              </div>
              </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>City</th>
        <th>Category</th>
        <th>Score</th>
        <th>Prize</th>
      </tr>
    </thead>

    <tbody>
       <% @participations.each_with_index do |participation, index| %>
    <tr>
      <td></td>
      <td><%= participation.user.username %></td>
      <td><%= participation.user.city %></td>
      <td><%= participation.game.name %></td>
      <td><%= participation.score %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>

var table = document.getElementsByTagName('table')[0],
    rows = table.getElementsByTagName('tr'),
    text = 'textContent' in document ? 'textContent' : 'innerText';
console.log(text);

for (var i = 1, len = rows.length; i < len; i++){
    rows[i].children[0][text] = i + rows[i].children[0][text];
}

</script>

