<div class="container">
  <%= content_tag 'h1', session[:category] + ' scoreboard', id: "triviah1" %> 
   <div class="row">
             <div class="col-lg-12 text-center">
                <hr class="star-game">
              </div>
              </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>City</th>
        <th>Category</th>
        <th>Score</th>
        <th>Prize</th>
      </tr>
    </thead>

    <tbody>
       <% @participations.each_with_index do |participation, index| %>
    <tr>
      <td></td>
      <td><%= participation.user.username %></td>
      <td><%= participation.user.city %></td>
      <td><%= participation.category %></td>
      <td><%= participation.score %></td>
        <% if index == 0 %>
            <% @quizzes.each do |quiz| %>
            <td>$<%= quiz.first %></td>
            <% end %>
        <% elsif index == 1 %>
          <% @quizzes.each do |quiz| %>
            <td>$<%= quiz.second %></td>
            <% end %>
         <% elsif index == 2 %>
          <% @quizzes.each do |quiz| %>
            <td>$<%= quiz.third %></td>
            <% end %>
         <% elsif index == 3 %>
          <% @quizzes.each do |quiz| %>
            <td>$<%= quiz.fourth %></td>
            <% end %>
         <% else %>
            <td>You lose</td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>

var table = document.getElementsByTagName('table')[0],
    rows = table.getElementsByTagName('tr'),
    text = 'textContent' in document ? 'textContent' : 'innerText';
console.log(text);

for (var i = 1, len = rows.length; i < len; i++){
    rows[i].children[0][text] = i + rows[i].children[0][text];
}

</script>

