<div class="container">

  <h1>Listing Topics</h1>
  <h3>Major Topic Breakdown</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= topic.name %></td>
          <td><%= link_to 'Show', topic %></td>
          <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
          <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Topic', new_topic_path, class: "btn btn-primary btn-lg submitquestion" %>

  <h3>How To: Topics</h3>
  <p>This is the entry point for major topics (i.e. sports, history) that will control the structure of the game.</p>

</div>
