<div class="container">

<%= form_for @questions do |f| %>

<div class="form-group">
  <div class="field">
   <%=f.label :name %>
   <%=f.text_field :name %>
  </div>

   <%= fields_for @address do |fa| %>
      <%=fa.label :city %>
      <%=fa.text_field :city %>
   <% end %>

<% end %>

</div>

=> #<ActiveRecord::Relation [#<Question id: 1, category_id: 1, question_text: "Where did the Beatles break up?", created_at: "2016-03-21 04:36:45", updated_at: "2016-03-21 04:38:03">, #<Question id: 2, category_id: 1, question_text: "Who was the President on the West Wing?", created_at: "2016-03-21 05:01:19", updated_at: "2016-03-21 05:01:19">]> 



<div class="form-group">
  <div class="field">
    <%= f.label :correcta %><br>
    <%= f.number_field :correcta, class: "form-control" %>
  </div>
</div>