<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @history.question %>
</p>

<p>
  <strong>Answers:</strong>
  <%= @history.answers %>
</p>

<p>
  <strong>Correcta:</strong>
  <%= @history.correcta %>
</p>

<p>
  <strong>Quizdate:</strong>
  <%= @history.quizdate %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
