<div class="container">
	<div class="jumbotron">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Question:</strong>
	  <%= @history.question %>
	</p>

	<p>
	  <strong>Answers:</strong>
	  <%= @history.answers %>
	</p>

	<p>
	  <strong>Correcta:</strong>
	  <%= @history.correcta %>
	</p>

	<p>
	  <strong>Quiz Date:</strong>
	  <%= @history.quizdate %>
	</p>

	<p>
	  <strong>Topic:</strong>
	  <%= @history.topic %>
	</p>

	<p>
	 <strong>Category:</strong>
	  <%= @history.category %>
	</p>



	<%= link_to 'Edit', edit_history_path(@history) %> |
	<%= link_to 'Back', histories_path %>
</div>

</div>
