 <div class="container">
 	<h1 class="boardtitle">Your Next Games</h1>

 	<table class="table table-striped">
 		<thead>
 			<tr>
 				<th>Category</th>
 				<th>Game Time</th>
 				<th>Purse</th>
 			</tr>
 		</thead>

 		<tbody>
			<% @reservations.each do |reservation| %>
	    <tr>
	      <td id="firstcol"><%= reservation.category %></td>
	      <td><%= reservation.game_start %></td>
	      <td>$<%= reservation.purse %></td>
	      <td><%= link_to "Play &raquo;".html_safe, lobby_path(category: reservation.category), class: "btn btn-primary btn-md" %></td>
	      	  <% end %>
	    </tr>
	  </tbody>
	  </table>

 	<h1 class="boardtitle">My Results</h1>
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Category</th>
	        <th>Score</th>
	      </tr>
	    </thead>

	    <tbody>
	       <% @participations.each do |participation| %>
	    <tr>
	      <td id="firstcol"><%= participation.category %></td>
	      <td><%= participation.score %></td>
	    </tr>
	  <% end %>
	    </tbody>
	  </table>

</div>

