<div class="container">

<div class="header2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
				                        <%= image_tag("Spaceman.png", class: "img-responsive middle") %> 
				                        <h1 class="boardtitle" style="color: black">TopDog Alpha HQ</h1>
				                         <hr class="star-primary">
				       </div>
				       </div>
				       </div>
				    </div>
	 <div class="col-md-6">
	 <div class="panel panel-primary">
      		<div class="panel-heading"><b>Post Requests and Bugs</b></div>
      		<div class="panel-body">
      			<div class="button-wrap">
	 			<a class="btn rad-button2 wwt flat vertical" <%= link_to "Leave Feedback", new_feedback_path %> </a>
	 			<br>
	 			<h5>Make TopDog Even Better</h5>  
	 			</div>
      			</div>
      		</div>
      	</div>

      <div class="col-md-6">
	 <div class="panel panel-primary">
      		<div class="panel-heading"><b>See TopDog Community Requests</b></div>
      		<div class="panel-body">
      			<div class="button-wrap">
	 				<a class="btn rad-button2 wwt flat vertical" <%= link_to "Leave Feedback", new_feedback_path %> </a>
	 				<br>
	 				<h5>Community Requests Coming Soon</h5>  
	 				</div>
      				</div>
      			</div>
      		</div>
      	</div>

   <div class="header2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
				                        <h1 class="boardtitle" style="color: black">Beta Leaderboard</h1>
				                        <h3 style="color: black"><i>Wave 1 Ends April 29</i></h3>
				                         <hr class="star-primary">
				       </div>
				       </div>
				       </div>
				    </div>


<div class="container">

	 <div class="panel panel-primary">
      		<div class="panel-heading"><b>TopDog Beta Leaderboard</b></div>
      		<div class="panel-body">

      			<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Player</th>
			<th>City</th>
			<th>Beta Earnings</th>
			<th>Game Wins</th>
		</tr>
	</thead>

	<tbody>

	<% @stacks.each_with_index do |stack, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= User.where(id: stack[0]).last.username %>
				<td><%= User.where(id: stack[0]).last.city %>
			 	<td>$<%= stack[1] %>.00</td>
			 	<td><%= Ranking.where(user_id: stack[0], ranking: 1).count %>
			 <% end %>
			</tr>
	</tbody>

</table>
    		</div>
    		</div>

</div>

	 <div class="header2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
				                        <h1 class="boardtitle" style="color: black">TopDog Prizes</h1>
				                        <h3 style="color: black"><i>Awarded to Players with Highest TopDollars at Deadline</i></h3>
				                         <hr class="star-primary">
				       </div>
				       </div>
				       </div>
				    </div>

<div class="container">

<div class="panel panel-primary">
      		<div class="panel-heading"><b>Prizes for Wave One: Thank You For Testing!</b></div>
      		<div class="panel-body">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<td>Rank</td>
								<td>Prize</td>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>1st</td>
								<td>$250 Amex Gift Card + $25 TopDollars</td>
							</tr>
							<tr>
								<td>2nd</td>
								<td>$100 Amex Gift Card + $20 TopDollars</td>
							</tr>
							<tr>
								<td>3rd</td>
								<td>$50 Amex Gift Card + $20 TopDollars</td>
							</tr>
							<tr>
								<td>4th</td>
								<td>$25 Amex Gift Card + $20 TopDollars</td>
							</tr>
							<tr>
								<td>5th</td>
								<td>$10 Amex Gift Card + $20 TopDollars</td>
							</tr>
							<tr>
								<td>6th</td>
								<td>$20 TopDollars</td>
							</tr>
							<tr>
								<td>7th</td>
								<td>$20 TopDollars</td>
							</tr>
						</tbody>
					</table>

					</div>
					<div class="panel-footer"><b>TopDollars can be used once game goes live with real money to buy entries.</b></div>
			</div>
		</div>

</div>