<div class="container">
 

  <div id="firstlayer">

  <h1 id="hometext">TopDog: Trivia's First Pro Tour</h1> 
  <h2 id="hometext2">Be Smart. Win Cash. Become TopDog.</h2>

</div>
 
	<div class="jumbotron center">
      <%= image_tag("logo.png", id: "logohome") %> 
      <h1 id="hometext-center">TopDog Trivia</h1>
       <%= image_tag("logo.png", id: "logomobile") %> 

      <p id="homep">Playing trivia is not a new concept. But why isn't there a way for you to <b>win real cash</b> from your knowledge?</p><br>
      <p id="homep">That is the problem TopDog was designed to solve. Here are the basics:</P> 


      <div id="jumbolist">

          <% if user_signed_in? %>
         <div class="buttoncenter">
              <div class="button-wrap">
                   <%= button_to "trivia", triviahub_path, :class => "rad-button wwt flat", :method => :get %>
              </div>
          </div>
            
    <% else %>
       <div class="buttoncenter">
              <div class="button-wrap">
                   <%= button_to "Sign Up Today", new_user_registration_path, :class => "rad-button wwt flat", :method => :get %>
              </div>
         </div>
  <% end %> 

      <ul>
        <li>Play daily trivia games against a pool of contestants</li>
        <li>Win real cash instantly for entering tournaments.</li>
        <li>Pick contests from your favorite categories and play to win</li>
        <li>Choose from different entry fees for each game</li>
      </ul>

	</div>


</div>

</div>

     
	 <div class="container">

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Cash for Trivia</h2>
          <p>It's time that trivia takes the step to the next level. For the first time ever, you can play against other people for real cash prizes. The best part? It's legal too. This is where pub trivia experts <b>go professional</b>. Buy your chips, find games, and start your trivia career today.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Pick Showdowns</h2>
          <p>Select from eight major question categories ranging from sports to science. Master of everything? Play <b>TopDog Elite</b> mode to compete using questions from all categories. And of course, you can play a mix of both. Pick your battles.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Become TopDog</h2>
          <p>Don't just win games. Crush the competition. Track your overall success on the weekly <b>TopDog Rankings</b>. You can also follow your rankings in real-time as you answer questions within the Trivia Showdown. The road to TopDog starts here.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
       </div>

   </div>

    <a class="btn btn-primary btn-lg". id="frontbuttons" <%= link_to "Trivia Admin", histories_path %> </a>


     
