<div class="container">
	<div class="jumbotron">

	<%= content_tag 'h1', Quiz.where(category: session[:category]).first.name + ' Lobby', id: "lobbytext" %> 

	 <div class="row">
	 	<div class="col-sm-6">
	 		<h2 style="text-align: center;">Game Registration</h2>
	 		<hr class="star-lobby">
	 		
	 		<p>Players Registered: 	<%= SpotCounter.where(category: session[:category]).first.count %></p>
	 		<% @quizzes.each do |quiz| %> 
	 		<p>Max Players: <%= quiz.max %></p>
	 		<% end %> 

	 		<!-- if lobby full, show error --> 
	 		<% if Reservation.where(category: session[:category]).count >= Quiz.where(category: session[:category]).first.max and Reservation.where(user_id: current_user.id, category: session[:category]).exists?(false) %>
			 <p style="color: #D64541">Sorry, you got the doghouse. This lobby is already <b>full</b>, but you can play again tomorrow! Remember: you can register early to save your spot in games.</p>

  			<!-- if time is past game start or lobby full, show error --> 
	 		<% elsif Time.now > Quiz.where(category: session[:category]).first.game_start and Reservation.where(user_id: current_user.id, category: session[:category]).exists?(false) %>
			 <p>Sorry, this game lobby is <b>closed</b>. Try again tomorrow!</p>

			 <!-- if user registered but game has not started yet --> 
			<% elsif Time.now < Quiz.where(category: session[:category]).first.game_start and Reservation.where(user_id: current_user.id, category: session[:category]).exists? %>
				<p>The game lobby will open at
					<% @quizzes.each do |quiz| %> 
	 					<b><%= quiz.game_start %></b>
	 				<% end %> for registered players. You will have three minutes to begin the game. Good luck.</p>

			<% elsif Time.now - 4.minutes > Quiz.where(category: session[:category]).first.game_start and Reservation.where(user_id: current_user.id, category: session[:category]).exists? %>
				<p style="color: #D64541; font-weight: bold; text-align: center;"><i class="fa fa-clock-o"></i>   D'oh!</p> <p> You're in the doghouse. The game already started!</p>

			<!-- player registered and within 4 min of start --> 
	 		<% elsif Reservation.where(user_id: current_user.id, category: session[:category]).exists? and Time.now - 4.minutes < Quiz.where(category: session[:category]).first.game_start and Time.now + 4.minutes > Quiz.where(category: session[:category]).first.game_start  %>
	 			<div class="button-wrap">
	 			<br>
  				<%= link_to "Enter Game".html_safe, trivia_path(category: session[:category]), class: "btn btn-primary btn-lg" %>
  				</div>

			<% else %>
				<div class="button-wrap">
				<br>
	 			<%= link_to "Reserve Spot".html_safe, reservation_path(category: session[:category]), class: "btn btn-primary btn-lg" %>
	 			</div>
			<% end %> 
	 	</div>

	 	<div class="col-sm-6" style="padding-left:15px; padding-right: 20px; border-left: 1px solid #ccc; height: 100%;">
	 		<% @quizzes.each do |quiz| %>
	 		<div style="padding-left: 10px;">
	 		<h2 style="text-align: center;">Game Information</h2>
	 		<hr class="star-lobby">
	 		<p id="category">Category: <%= quiz.topic %></p>
	 		<p>Start Time: <%= quiz.game_start %></p>
	 		<p>Max Players: <%= quiz.max %></p>
	 		<p>Prize Info: $<%= quiz.purse %></p>
	 		<% end %>
	 		<% @quizzes.each do |quiz| %>
	 		<% if ((quiz.game_start - Time.now).to_i)/60 > 0 %>
	 			<p>Countdown to Start: <%= (((quiz.game_start - Time.now).to_i)/60) %></p>
	 		<% else %>
	 		
	  		<% end %>
	 		<% end %>
	 		</div>
	 	</div>

	 	<%= content_tag :div, class: "temp_information", data: {temp: @tempquiz} do %>
		<% end %>

	 </div> 
	
	<div id="timer"></div>
	
</div>

</div>

<script>

$(document).ready(function() {
	var temp = $('.temp_information').data('temp');
	var equal = temp * 60
}); 
	
</script>