<div class="container">
	<div class="jumbotron">

	<%= content_tag 'h1', @game.name + ' Lobby', id: "lobbytext" %> 

	 <div class="row">
	 	<div class="col-sm-6">
	 		<h2 style="text-align: center;">Game Registration</h2>
	 		<hr class="star-lobby">
	 		
	 		<p>Players Registered: 	<%= Reservation.where(game_id: params[:id]).count %></p>
	 		<% @games.each do |game| %> 
	 		<p>Max Players: <%= game.max_players %></p>
	 		<% end %> 

	 		<!-- if lobby full, show error --> 
	 		<% if !(Reservation.where(user_id: current_user.id, game_id: params[:id]).exists?) && Reservation.where(game_id: params[:id]).count >= Game.where(id: params[:id]).first.max_players %>
			 <p style="color: #D64541">Sorry, you got the doghouse. This lobby is already <b>full</b>, but you can play again tomorrow! Remember: you can register early to save your spot in games.</p>

  			<!-- if time is past game start or lobby full, show error --> 
	 		<% elsif Time.now > @games.first.starts_at and Reservation.where(user_id: current_user.id, game_id: params[:id]).exists?(false) %>
			 <p>Sorry, this game lobby is <b>closed</b>. Try again tomorrow!</p>

			 <!-- if time is past game start or lobby full, show error --> 
	 		<% elsif @games.first.starts_at > Time.now and Reservation.where(user_id: current_user.id, game_id: params[:id]).exists?(false) and @games.first.entry > Stack.where(user_id: current_user.id).sum(:chips) %>
			 <p>Sorry, this game lobby is <b>closed</b>. Try again tomorrow!</p>

			 <!-- if user registered but game has not started yet --> 
			<% elsif Time.now < @games.first.starts_at and Reservation.where(user_id: current_user.id, game_id: params[:id]).exists? %>
				<p>The game lobby will open at
					<% @games.each do |game| %> 
	 					<b><%= game.starts_at %></b>
	 				<% end %> for registered players. You will have three minutes to begin the game. Good luck.</p>

			<% elsif Time.now - 4.minutes > @games.first.starts_at and Reservation.where(user_id: current_user.id, game_id: params[:id]).exists? %>
				<p style="color: #D64541; font-weight: bold; text-align: center;"><i class="fa fa-clock-o"></i>   D'oh!</p> <p> You're in the doghouse. The game already started!</p>

			<!-- player registered and within 4 min of start --> 
	 		<% elsif Reservation.where(user_id: current_user.id, game_id: params[:id]).exists? and Time.now - 4.minutes < @games.first.starts_at and Time.now + 4.minutes > @games.first.starts_at  %>
	 			<div class="button-wrap">
	  				<a class="btn rad-button2 wwt flat vertical" <%= link_to "Enter Game", trivia_path(game_id: params[:id]) %> </a>  
		 			</div>
			<% else %>
				<div class="button-wrap">
				<br>
	 			<a class="btn rad-button2 wwt flat vertical" <%= link_to "Reserve Spot", reservation_path(id: params[:id]) %> </a>  
	 			</div>
			<% end %> 
	 	</div>

	 	<div class="col-sm-6" style="padding-left:15px; padding-right: 20px; border-left: 1px solid #ccc; height: 100%;">
	 		<% @games.each do |game| %>
	 		<div style="padding-left: 10px;">
	 		<h2 style="text-align: center;">Game Information</h2>
	 		<hr class="star-lobby">
	 		<p id="category">Category: <%= game.name %></p>
	 		<p>Start Time: <%= game.starts_at %></p>
	 		<p>Entry Fee: $<%= game.entry %>0</p>
	 		<% end %>
	 		<% @games.each do |game| %>
		 		<% if ((game.starts_at - Time.now).to_i)/60 > 0 %>
		 			<div id="main-example"><p>Countdown to</p><p id="timer"></p></div>
		 		<% else %>
		  		<% end %>
	 		<% end %>
	 		</div>
	 	</div>

	 	<%= content_tag :div, class: "temp_information", data: {temp: @tempgame.to_i} do %>
		<% end %>

	 </div> 
	
	<div id="timer"></div>

<div id="getting-started"></div>
<script type="text/javascript">
	var utcSeconds = $('.temp_information').data('temp');
	var d = new Date(0); // The 0 there is the key, which sets the date to the epoch
	d.setUTCSeconds(utcSeconds);

	/// 	var today = Math.round(new Date().getTime()/1000.0);

  $('#timer').countdown(d, function(event) {
    $(this).html(event.strftime('%d days %H:%M:%S'));
  });
</script>
	
</div>

</div>
