<div class="container">


<div class="header2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
				                        <%= image_tag("Money.png", class: "img-responsive middle") %> 
				                        <h1 class="boardtitle" style="color: black">TopDollar Wallet</h1>
				                         <hr class="star-primary">
				       </div>
				       </div>
				       </div>
				    </div>

	<div class="row">
		<div class="col-lg-6">
			 <div class="panel panel-primary">
      		<div class="panel-heading"><b>TopDog Total Balance</b></div>
      		<div class="panel-body"><h1 style="text-align: center"><b>$<%= @final %></b></h1>
      		<h5 style="text-align: center">Your TopDollar Total for the Beta</h5>
    		</div>
    		</div>
		</div>
		<div class="col-lg-6">
			 <div class="panel panel-primary">
      		<div class="panel-heading"><b>Get $30 of TopDollar Play During Beta</b></div>
      		<div class="panel-body">
      			     <%= button_to 'Claim TopDollars', stacks_path(username: "alphadogs"), class: "btn rad-button2 wwt flat vertical", method: :post %>
    		</div>
    		</div>
		</div>
	</div>


	<table class="table table-striped">
		<thead>
			<tr>
				<th>Game</th>
				<th>Chips</th>
				<th>Game Date</th>
			</tr>
		</thead>
		<tbody>
			<% @stack.each do |stack| %>
			<tr>
			 	<td><%= stack.game_id %></td>
			 	<td><%= stack.chips %></td>
			 	<td><%= stack.game.name %></td>
			 <% end %>
			 	
			</tr>
		</tbody>
	</table>
	</div>
	<!-- end panel table --> 

</div>