<div class="container">


<div class="header2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
				                        <%= image_tag("Money.png", class: "img-responsive middle") %> 
				                         <hr class="star-primary">
				       </div>
				       </div>
				       </div>
				    </div>



	<p><%= @final %></p>


    <div class="panel panel-primary">
      <div class="panel-heading">Panel with panel-primary class</div>
      <div class="panel-body">Panel Content</div>
    </div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Game</th>
				<th>Chips</th>
				<th>Game Date</th>
			</tr>
		</thead>
		<tbody>
			<% @stack.each do |stack| %>
			<tr>
			 	<td><%= stack.game_id %></td>
			 	<td><%= stack.chips %></td>
			 	<% @game.each do |game| %>
			 		<td><%= game.name %>
			 	<% end %>
			 <% end %>
			 	
			</tr>
		</tbody>
	</table>

</div>