<% if current_user.try(:admin?) %>  	 
	<div class="container">

		<h1>Trivia Maker Portal</h1>

			<div class="jumbotron">
	  			<p>This is the main access point for the demo to build trivia quiz json files using our interface. Each quiz will output a json file that corresponds to a game.</p>

	  			<table class="table table-striped">
	  				<thead>
	  					<tr>
	  						<th>Key Function</th>
	  						<th></th>
	  						<th>Button</th>
	  					</tr>
	  				</thead>

	  				<tbody>
	  					<tr>
	  						<td><p>Set Topics</p></td>
	  						<td></td>
	  						<td><a class="btn btn-primary btn-lg" <%= link_to "Topics", topics_path %> </a></td>
	  					</tr>
	  					<tr>
	  						<td><p>Set Categories</p></td>
	  						<td></td>
	  						<td><a class="btn btn-primary btn-lg" <%= link_to "Categories", categories_path %> </a></td>
	  					</tr>
	  						<tr>
	  						<td><p>Set Quizzes</p></td>
	  						<td></td>
	  						<td><a class="btn btn-primary btn-lg" <%= link_to "Quizzes", quizzes_path %> </a></td>
	  					</tr>
	  						<tr>
	  						<td><p>Set Games</p></td>
	  						<td></td>
	  						<td><a class="btn btn-primary btn-lg" <%= link_to "Games", games_path %> </a></td>
	  					</tr>
	  				</tbody>
	  			</table>

				</div>
				</div>

<% else %>

	<div class="container">

		<h1 id="hubtext">Danger, Will Robinson. You do not have access to this page.</h1>

		<p>If you have questions, shoot us an email.</p>
		<%= link_to "To Home &raquo;".html_safe, root_path, id: "lobbybutton", class: "btn btn-danger btn-lg" %>

	</div> -->

 <% end %> 