<div class="se-pre-con"></div>

<div class="container">

	<h1 id="hubtext">Trivia Lobby</h1>

	<div class="jumbotron">

	 <!-- EXAMPLE BUTTON -->
	 <!-- <%= link_to "History Battle", historytrivia_path, class: "btn btn-primary btn-lg" %> --> 

		 	<div class="lobbydesktop">

		 	<div id="divCircle">
		 	
		     <div id="middleBubble">
		     	<p style="font-weight: bold;" class="icon-description js-icon-description"><!-- this is where your data-icon-text will be displayed --></p>	
		    
		     </div>
		     	<%= link_to('sportsbattle') do %> <%= image_tag("sportsv1.png", :class => "icon js-icon", :data => { "icon-text" => "Sports Field" }) %>
		  		 	<% end %> 
		     	<%= image_tag("businessv1.png", :class => "icon js-icon", :data => { "icon-text" => "Business Park: Coming Soon" }) %>
		      	<%= image_tag("popculturev1.png", :class => "icon js-icon", :data => { "icon-text" => "Pop Culture HQ: Coming Soon" }) %>
		       	<%= image_tag("sciencev1.png", :class => "icon js-icon", :data => { "icon-text" => "The Science Lab: Coming Soon" }) %>
		     	<%= image_tag("randomv1.png", :class => "icon js-icon", :data => { "icon-text" => "TopDog Battle: Coming Soon" }) %>
		      	<%= image_tag("geov3.png", :class => "icon js-icon", :data => { "icon-text" => "Globetrotters: Coming Soon" }) %>
		       	<%= image_tag("moviesv1.png", :class => "icon js-icon", :data => { "icon-text" => "Theater Room: Coming Soon" }) %>
		       	<%= link_to('historyhub') do %> <%= image_tag("historyv2.png", :class => "icon js-icon", :data => { "icon-text" => "History Book" }) %>
      				<% end %>  

				</div>

				<p id="hubpara">Choose your trivia game category to find games starting soon.</P>
				<!-- END DESKTOP LOBBY --> 
				</div>

			<div class="mobilelobby">

					<a class="btn btn-primary mobile", id="mobilehistory" <%= link_to "History", historyhub_path %> </a>

					<a class="btn btn-primary mobile", id="mobilehistory" <%= link_to "Sports", sportsbattle_path %> </a>

					<a class="btn btn-primary mobile", id="mobilehistory" <%= link_to "Movies & TV", historytrivia_path %> </a>

					<a class="btn btn-primary mobile", id="mobilehistory" <%= link_to "Business", historytrivia_path %> </a>

					<a class="btn btn-primary mobile", id="mobilehistory" <%= link_to "Pop Culture", historytrivia_path %> </a>

					<a class="btn btn-primary mobile", id="mobilehistory" <%= link_to "Science", historytrivia_path %> </a>

					<a class="btn btn-primary mobile", id="mobilehistory" <%= link_to "Geography", historytrivia_path %> </a>

					<a class="btn btn-primary mobile", id="mobilehistory" <%= link_to "Random", historytrivia_path %> </a>

		</div>

	</div>

</div> 


<script>

$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("3500");;
	});


$(document).ready(function(){
     //Center the "info" bubble in the  "circle" div
     var divTop = ($("#divCircle").height() - $("#middleBubble").height())/2;
     var divLeft = ($("#divCircle").width() - $("#middleBubble").width())/2;
     $("#middleBubble").css("top",divTop + "px");
     $("#middleBubble").css("left",divLeft + "px");
}); 

$(document).ready(function(){
     //Arrange the icons in a circle centered in the div
     numItems = $( "#divCircle img" ).length; //How many items are in the circle?
     start = 0.25; //the angle to put the first image at. a number between 0 and 2pi
     step = (2*Math.PI)/numItems; //calculate the amount of space to put between the items.
     
     //Now loop through the buttons and position them in a circle
     $( "#divCircle img" ).each(function( index ) {
          radius = ($("#divCircle").width() - $(this).width())/2; //The radius is the distance from the center of the div to the middle of an icon
          //the following lines are a standard formula for calculating points on a circle. x = cx + r * cos(a); y = cy + r * sin(a)
          //We have made adjustments because the center of the circle is not at (0,0), but rather the top/left coordinates for the center of the div
          //We also adjust for the fact that we need to know the coordinates for the top-left corner of the image, not for the center of the image.
          tmpTop = (($("#divCircle").height()/2) + radius * Math.sin(start)) - ($(this).height()/2);
          tmpLeft = (($("#divCircle").width()/2) + radius * Math.cos(start)) - ($(this).width()/2);
          start += step; //add the "step" number of radians to jump to the next icon
                 
          //set the top/left settings for the image
          $(this).css("top",tmpTop);
          $(this).css("left",tmpLeft);
     });
}); 


$(function() {
    var $iconDescription = $('.js-icon-description'); // store our text output container in a variable so it's available inside our hover function 

    // for every .js-icon on the page, on hover do the following
    $('.js-icon').hover(function() {
        // on mouseenter, store the element's data-icon-text attribute in a variable.
        var iconText = $(this).data('icon-text');
        
        //set the text to the correct value, and fade the description in. Stop() here prevents the fade animation from building up and running even when you're no longer hovering, so it will only play once per element. This does mean that hovering quickly from one button to the next will just show the text rather than fade in/out, but I think this is desirable.
        $iconDescription.text(iconText).stop().fadeIn();
        
    }, function() {
        // on mouseout, simply fade our description text out. It will be re-set once you hover over another icon
        $iconDescription.stop().fadeOut();
    });

});


</script> 




	