<div class="container">
  <h1>Listing All Games</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Game ID</th>
        <th>Starts at</th>
        <th>Name</th>
        <th>Max players</th>
        <th>Entry</th>
        <th>Rel. Quiz_ID</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.id %></td>
          <td><%= game.starts_at %></td>
          <td><%= game.name %></td>
          <td><%= game.max_players %></td>
          <td><%= game.entry %></td>
          <td><%= game.quiz_id %></td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Create New Game', new_game_path, class: "btn btn-primary btn-lg submitquestion" %>

  <h3>How To: Games</h3>
  <p>Put instructions on Games Table here. Games must always associate with the relevant Quiz_ID.</p>

</div>
