<div class="container">

<h1>Chipz - Demo Point Functionality</h1>

<p>Not intended to be used for production. This is a prototype.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Rank</th>
      <th>Prize</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chipzs.each do |chipz| %>
      <tr>
        <td><%= chipz.category %></td>
        <td><%= chipz.rank %></td>
        <td><%= chipz.prize %></td>
        <td><%= link_to 'Show', chipz %></td>
        <td><%= link_to 'Edit', edit_chipz_path(chipz) %></td>
        <td><%= link_to 'Destroy', chipz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<a class="btn btn-primary btn-lg" <%= link_to 'Make a New Chip', new_chipz_path %> </a>

</div>
