<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @chipz.category %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @chipz.rank %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @chipz.prize %>
</p>

<%= link_to 'Edit', edit_chipz_path(@chipz) %> |
<%= link_to 'Back', chipzs_path %>

</div>
