<%= form_for(@trivia_demo) do |f| %>
  <% if @trivia_demo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trivia_demo.errors.count, "error") %> prohibited this trivia_demo from being saved:</h2>

      <ul>
      <% @trivia_demo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :answer1 %><br>
    <%= f.text_field :answer1 %>
  </div>
  <div class="field">
    <%= f.label :answer2 %><br>
    <%= f.text_field :answer2 %>
  </div>
  <div class="field">
    <%= f.label :answer3 %><br>
    <%= f.text_field :answer3 %>
  </div>
  <div class="field">
    <%= f.label :answer4 %><br>
    <%= f.text_field :answer4 %>
  </div>
  <div class="field">
    <%= f.label :correcta %><br>
    <%= f.text_field :correcta %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.date_select :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
