<div class="container">

<h1>Demo Mode - An Interface for Trivia Builds</h1>

<div class="jumbotron">
  <p>This is a demo interface for creating sets of trivia questions and answers that will be sent to the individual trivia views. The postgreSQL will generate an json file that we can pull from when a contestant reaches the trivia engine to prevent seeing the questions/answers in the source code.</p>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order</th>
      <th>Question</th>
      <th>Answer 1</th>
      <th>Answer 2</th>
      <th>Answer 3</th>
      <th>Answer 4</th>
      <th>Correct Answer</th>
      <th>Published Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trivia_demos.each do |trivia_demo| %>
      <tr>
        <td><%= trivia_demo.order %></td>
        <td><%= trivia_demo.question %></td>
        <td><%= trivia_demo.answer1 %></td>
        <td><%= trivia_demo.answer2 %></td>
        <td><%= trivia_demo.answer3 %></td>
        <td><%= trivia_demo.answer4 %></td>
        <td><%= trivia_demo.correcta %></td>
        <td><%= trivia_demo.published %></td>
        <td><%= link_to 'Show', trivia_demo %></td>
        <td><%= link_to 'Edit', edit_trivia_demo_path(trivia_demo) %></td>
        <td><%= link_to 'Destroy', trivia_demo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Trivia Question for Demo', new_trivia_demo_path, class:"btn btn-primary btn-lg" %>

</div>
