<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if Feedback.where(id: params[:id]).exists? %> 
  <div class="form-group">
      <div class="field">
          <%= f.label :status %><br>
          <%= f.text_field :status, class: "form-control"  %>
      </div>
      </div>
  <% else %>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :feedback %><br>
    <%= f.text_area :feedback, placeholder: "Spotted a bug? Let us know here.", class: "form-control"  %>
  </div>
</div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-lg submitquestion" %>
  </div>
<% end %>

