<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @feedback.user_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @feedback.email %>
</p>

<p>
  <strong>Time:</strong>
  <%= @feedback.time %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @feedback.subject %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @feedback.feedback %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
