<div class="container">

<h1><b>Sports:</b> Trivia Builder Interface</h1>

<div class="jumbotron">
  <p>This is a demo interface for creating sets of trivia questions for and answers for <b>Sports</b> that will be sent to the individual trivia views. The postgreSQL will generate an json file that we can pull from when a contestant reaches the trivia engine to prevent seeing the questions/answers in the source code.</p>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answers</th>
      <th>Correcta</th>
      <th>Quizdate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sports1s.each do |sports1| %>
      <tr>
        <td><%= sports1.question %></td>
        <td><%= sports1.answers %></td>
        <td><%= sports1.correcta %></td>
        <td><%= sports1.quizdate %></td>
        <td><%= link_to 'Show', sports1 %></td>
        <td><%= link_to 'Edit', edit_sports1_path(sports1) %></td>
        <td><%= link_to 'Destroy', sports1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <a class="btn btn-primary btn-lg" <%= link_to "Enter New Sports Questions", new_sports1_path %> </a>


</div>
