<div class="container">
  <h1>Trivia Categories</h1>

  <table class="table table-striped"> 
    <thead>
      <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Rel. Topic ID</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= category.topic_id %></td>
          <td><%= link_to 'Show', category %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Category', new_category_path, class: "btn btn-primary btn-lg submitquestion"  %> 

  <h4>How To: Categories</h4>

  <p>Create new categories here. A category must be linked to one of the larger topics.</p>

</div>
