<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TopDogTrivia.com</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>

</head>
<body>
	
	<%= render 'layouts/header' %>

	<% flash.each do |name, msg| %>
     	<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
	
	<%= yield %>

	<div class="bottomthird">
		<div class="navdivide"></div>


	<!--- STICKY FOOTER -->
	<div id="footer">
    	<div class="container">
        
        <%= image_tag("logo.png", id: "logofooter") %> 
 

        <p class="text-muted credit">TopDog Trivia: Bringing Trivia to the Pros</p>
        <ul>
        	<li><%= link_to "Home", root_path %></li>
     		<li><%= link_to "About", about_path %></li> 
      		<li><%= link_to "Legal", legal_path %></li> 
      		<li><%= link_to "Contact Us", contact_path %></li> 
        </ul>
      </div>
	 </div>
	 <!-- END FOOTER ELEMENT -->
	</div> 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/footer-reveal-master/footer-reveal.js"></script>
<script> 
	$(document).ready(function(){
		$('#footer').footerReveal();
	}

</script>

</body>
</html>
