<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>TopDogTrivia.com</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>

</head>
<body>
	
	<%= render 'layouts/header' %>

	<% flash.each do |name, msg| %>
     	<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
	
	<%= yield %>

	<div class="bottomthird">
		<div class="navdivide2"></div>


	<!--- STICKY FOOTER -->
	<div id="footer">
    	<div class="container">
        
        <%= image_tag("logo.png", id: "logofooter") %> 
 

        <p id="footertext">TopDog Trivia: Be Smart. Win Prizes.</p>
        <ul style="list-style-type:none">
        	<li id="footerli"><%= link_to "Home", root_path %></li>
        	<!-- <li><%= link_to "Scoreboard", scoreboard_path %></li> --> 
     		<li id="footerli"><%= link_to "About", about_path %></li> 
      		<li id="footerli"><%= link_to "Legal", legal_path %></li> 
      		<li id="footerli"><%= link_to "Contact Us", contact_path %></li> 
        </ul>

		<% if current_user.try(:admin?) %>
		  	<a class="btn btn-primary btn-lg" <%= link_to "Trivia Admin", triviamaker_path %> </a>  
		<% end %>
 
      </div>
	 </div>
	  	<div class="footer-below">
	  		 <div id="footerbottom">
                        Copyright &copy; TopDog Trivia 2016
              </div>
           
        </div>
	 <!-- END FOOTER ELEMENT -->
	</div> 

<script> 
	$(document).ready(function(){
		<%# $('#footer').footerReveal(); %>
	});



</script>

</body>
</html>
